:root {
    --primary-color: #fafaff;
    --secondary-color: #e4d9ff;
    --bg-color: #1e2749;
    --primary-color-light: #1e2749;
    --secondary-color-light: #3a4471;
    --bg-color-light: #fafaff;
    --accent-color: #11183a; 
    --toggle-bg-color: #3a4471; 
    --toggle-bg-color-light: #e4d9ff; 
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    transition-duration: 200ms;
}

body{
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap:72px;
    padding: 14px;
}

body.light-mode {
    background: var(--bg-color-light);
    color: var(--primary-color-light);
}

body.light-mode .darkerText {
    color: var(--secondary-color-light);
}

body.light-mode header nav a,
body.light-mode .statsContainer .darkerText,
body.light-mode .aboutMe,
body.light-mode .outreach,
body.light-mode .projectItem .darkerText,
body.light-mode .linkItem {
    color: var(--secondary-color-light);
}

.controls {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Theme Toggle */
.theme-toggle {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.theme-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--toggle-bg-color);
    border-radius: 34px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    box-sizing: border-box;
}

body.light-mode .theme-label {
    background-color: var(--toggle-bg-color-light);
}

.theme-label .fa-sun,
.theme-label .fa-moon {
    color: var(--primary-color);
}

body.light-mode .theme-label .fa-sun,
body.light-mode .theme-label .fa-moon {
    color: var(--primary-color-light);
}

.toggle-ball {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    transition: all 0.3s;
}

body.light-mode .toggle-ball {
    background-color: var(--primary-color-light);
}

input:checked + .theme-label .toggle-ball {
    transform: translateY(-50%) translateX(26px);
}

/* Language Toggle */
.language-switch {
    cursor: pointer;
    font-size: 1rem;
    color: var(--secondary-color);
}

body.light-mode .language-switch {
    color: var(--primary-color-light);
}

.language-switch span {
    cursor: pointer;
}

.language-switch span.active {
    font-weight: bold;
}

.language-switch span:hover {
    text-decoration: none;
}

.darkerText{
    color: var(--secondary-color);
}

header, main, footer{
    max-width: 800px;
    margin:0 auto;
    width: 100%;
}

p{
    font-size: 1.05em;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}

nav{
    color:var(--secondary-color);
    display: flex;
    align-items: center;
    gap: 32px;
}

a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

nav a:hover{
    opacity: 0.7;
}

main, section, .nameContainer{
    display: flex;
    flex-direction: column;
}

main{
    gap: 64px;
    padding-bottom: 64px;
}

section{
    gap:32px;
}

.nameContainer{
    gap:8px;
}

.statsContainer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
}

.imageContainer{
    border-radius: 100%;
    max-width: 114px;
    overflow: hidden;
}

.imageContainer img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.stats{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.stats>div{
    flex:1;
    display: flex;
    align-items: center;
    gap: 8px;
}

.stats div i{
    font-size: 1.4em;
}

.stats div div{
    display: grid;
    place-items: center;
    min-width: 40px;
}

.aboutMe{
    line-height: 1.5em;
    text-align: justify;
}

.tecnologies{
    display: flex;
    flex-direction: column;
}

.tecnologiesContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.tec-img{
    height: 120px;
}

.tec-img>img{
    height: 100%;
    object-fit:cover;
}

.outreach{
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
    width: fit-content;
    margin-right: auto;
}

.outreach:hover{
    opacity: 0.7;
}

.outreach i{
    transform: rotate(-45deg);
}

.projectContainer{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.projectHeaderText{
    margin-bottom: 24px;
}

.projectItem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 24px;
}

.projectItem>div:first-child{
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 70%;
}

.projectItem>div:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 16/9;
    width: 30%;
    overflow: hidden;
    border-radius: 8px;
}

.projectItem>div:last-child img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectDescription{
    text-align: justify;
}

.linkContainer{
    display: flex;
    align-items: center;
    gap: 24px;
}

.linkItem{
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 14px !important;
    color: var(--primary-color);
}

.linkItem:hover{
    opacity: 0.7;
}

.linkItem p{
    font-size: 0.9rem;
} 

@media (min-width: 640px){
    .statsContainer{
        flex-direction: row;
    }
    .stats{
        gap: 0px;
    }
    .aboutMe{
        width: 100%;
        margin-right: auto;
    }
    
}